<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta  content="text/html; charset=utf-8"  http-equiv="content-type">
    <meta  http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta  name="viewport"  content="width=device-width, initial-scale=1">
    <title>FinancialFlo</title>
  </head>
  <body  id="app-layout">
      <!-- Stylesheets -->
      <link rel="stylesheet" type="text/css" href="public/css/home.css">
    <nav  class="topbar topbar-default">
      <div  class="container-topbar">
        <div  class="collapse topbar-collapse"  id="app-topbar-collapse">
          <!-- Left side of topbar -->
          <ul  class="nav topbar-nav">
            <li>
              <div  class="topbar-text"><a  href="">Home</a></div>
            </li>
            <li>
              <div  class="topbar-text"><a  href="">Compare</a></div>
            </li>
            <li>
              <div  class="topbar-text"><a  href="">About</a></div>
            </li>
            <li>
                <div class="login-btn"><a href="">Login</a></div>
            </li>
          </ul>
        </div>
        <!-- Right side of topbar -->
        <div  class="topbar-right"></div>
    </nav>
      <div class ="search-container">
          <div class="search-container-inner">
              <div class="form-group">
                <input name="search-bar" type="search" class="search-bar">
              </div>
          </div>
      </div>
  </body>
</html>
