.change {
    text-decoration: none;
    font-style: normal;
}

.table {
    float: left;
    margin-bottom: 15px;
    margin-right: 25px;
    display: table;
    width: 45%;
}

#company-body {
    margin: 0 auto;
    width: 1250px;
}

#competitors {
    float: left;
    width: 25%;
    overflow: hidden;
}

#companyheader {
    width: 75%;
    float: left;
    overflow: hidden;

#companyinfo {
}
