@import url(http://fonts.googleapis.com/css?family=Montserrat);
#app-layout {
    font-family: sans-serif;
}
html,body {
    margin:0;
    padding:0;
}

.topbar {
    width: 100%;
    background: #1f7f5c;
}

.topbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom: 1px solid white;
}

.topbar-nav li {
    float: left;
}

.topbar-nav li:last-child {
    float: right;
}
.topbar-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}

.topbar-nav li a:hover {
    background-color: #111;
}



.search-bar {
    width: 100%;
}

.flexsearch--wrapper {
    height: auto;
    width: 500px;
    background: transparent;
    margin: auto;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flexsearch--wrapper h1 {
    color: #333;
    font-family: 'Lato', sans-serif; 
    font-size: 54px; 
    font-weight: 300; 
    line-height: 58px; 
    position: absolute;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 0;
    width: 50%;
}

.flexsearch--form {
    overflow: hidden;
    position: relative;
}

.flexsearch--input-wrapper {
    padding: 0 66px 0 0; /* Right padding for submit button width */
    overflow: hidden;
}

.flexsearch--input {
    width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
    background-image: url("/assets/white-img.png");
    background-repeat: repeat-x;
    width:100%;
    height:900px;
    display:block;
    margin: 0px;
    position: absolute;
    display: inline;
    border-bottom: 3px #009ae1 solid;
}

.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 60px;
    padding: 0 46px 0 10px;
    border-color: #888;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
    border-width: 5px;
    margin-top: 210px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    margin-top: 215px; /* margin-top + border-width */
    margin-right: 5px; /* border-width */
    background: transparent;
    color: #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    line-height: 60px;
}

.flexsearch--input:focus {
    outline: none;
    border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #333; 
}

.flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #888;  
}

input:-moz-placeholder {
    color: #888
}

.footer {
    margin-top: 950px;
    background-color: #ffffff;

    height: 50px;
}

.footer-inner {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 16px; 
    line-height: 26px; 
}

.nav {
    background: #232323;
    height: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0;
    width: 100%;
}

#topbar {
    height: 60px;
}

 
.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}
.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
    background-color: #2e2e2e;
}

#search {
    width: 357px;
    margin: 4px;
}
#search-text{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #1f7f5c;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search-text:focus {
    background: rgb(64, 151, 119);
}
#search-button {
    border: 0 none;
    background: #1f7f5c url("/assets/search.png") center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}